@charset "utf-8";

body{
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}

h1{
    color:blue;
}

label{
    float:left;
    width:70px;
    margin-bottom:10px;
}

input[type="email"],input[type="text"]{
    width:200px;
    margin-left:10px;
    margin-bottom:10px;
}

#submit1{
    position:relative;
    left:80px;
    cursor:pointer;
}

span{
    width:200px;
    margin-left:10px;
    margin-bottom:10px;
}